<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room 삭제</title>
</head>

<body>
    <div class="mx-auto container py-20 px-6">
        <form method="get">
            {% csrf_token %}
            <input type="submit" value="삭제하기"></a>
            
            <button type="button">
                <a href="/">뒤로가기</a>
            </button>
          </form>
    </div>
</body>

</html>