<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지 수정</title>
</head>

<body>
    <form method="post">
        {% csrf_token %}
        <div>
            <h3>아이디 : {{ user.user_id }}</h3>
            <h3>닉네임 : {{ user.user_nickname }}</h3>
            <h3>이름 : {{ user.user_name }}</h3>
            <input type="text" name="user_bio" id="user_bio" value="{{ user.user_bio }}">

            <input type="submit" value="프로필 저장"></a>
        </div>
    </form>
</body>

</html>